<!DOCTYPE html>
<html>
<head>
  <title>Live Up Programs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Stoke:300' rel='stylesheet' type='text/css'></link>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="nav">
     <a href="home.html"> <div id="name"><%= image_tag('liveuplogo.gif', :size => "160x60") %></div></a>
     <a href="about.html">About Us</a>
     <a href="donate.html">Donate</a>
     <a href="programs.html">Programs</li></a>
     <a href="mentors.html">Mentors</a>
     <a href="participants.html">Participants</a>
     <a href="partners">Partners</a>
  </div>
  
<%= yield %>
</body>
</html>
